
h1,h2{
  text-align: center;
}
#btn{
  color: white;

}
.main{
  display: flex;
  flex-wrap: wrap;
}
.main > .link{
  text-align: center;
  margin: 0 auto; 
  width: 300px;
  box-shadow: 0 0 10px #463636;
  margin-bottom: 10px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.main > .link:hover{
  background-color: lightgray;
}

.product{
text-align: center;

}